VITE_API_BASE_URL=https://toshkent-parfum.uz/api/v1/
VITE_BASE_URL=https://toshkent-parfum.uz/checkout
VITE_APP_SITE_KEY=6Lf1EH4kAAAAAKhbofLev9K_38lfgJP1UO1OCBSu
VITE_MAP_KEY=a6e8091e-1fcc-4c0f-9482-73fb4df6cbab
VITE_APP_GOOGLE_API_KEY=AIzaSyApvzp5_Sw88dIXgcSvlCwx3jLxUjPbJhA